In [125]:
import pandas as pd
import numpy as np

In [102]:
uis_1 = pd.read_csv('../data/UIS/EDULIT_DS_23082019165936814.csv')
uis_2 = pd.read_csv('../data/UIS/EDULIT_DS_25082019015237837.csv')

uis = pd.concat([uis_1, uis_2], sort=True)
uis.head()

,Country,EDULIT_IND,Flag Codes,Flags,Indicator,LOCATION,TIME,Time,Value
0,Cyprus,AIR_1,+,National Estimation,Gross intake ratio to Grade 1 of primary educa...,CYP,2000,2000,100.69412
1,Cyprus,AIR_1,+,National Estimation,Gross intake ratio to Grade 1 of primary educa...,CYP,2001,2001,99.80127
2,Cyprus,AIR_1,+,National Estimation,Gross intake ratio to Grade 1 of primary educa...,CYP,2002,2002,98.23879
3,Cyprus,AIR_1,+,National Estimation,Gross intake ratio to Grade 1 of primary educa...,CYP,2003,2003,99.06412
4,Cyprus,AIR_1,+,National Estimation,Gross intake ratio to Grade 1 of primary educa...,CYP,2004,2004,100.39945

In [103]:
pisa = pd.read_csv('../data/pisa/pisa.csv')

In [105]:
countries = [country for country in pisa['Country'] if country in uis['Country'].unique()]
len(countries)

68

In [106]:
years = [year for year in range(2000, 2016, 3)]
years

[2000, 2003, 2006, 2009, 2012, 2015]

In [107]:
features = [feature for feature in uis['Indicator'].unique()]
len(features)

97

In [108]:
uis.head()

,Country,EDULIT_IND,Flag Codes,Flags,Indicator,LOCATION,TIME,Time,Value
0,Cyprus,AIR_1,+,National Estimation,Gross intake ratio to Grade 1 of primary educa...,CYP,2000,2000,100.69412
1,Cyprus,AIR_1,+,National Estimation,Gross intake ratio to Grade 1 of primary educa...,CYP,2001,2001,99.80127
2,Cyprus,AIR_1,+,National Estimation,Gross intake ratio to Grade 1 of primary educa...,CYP,2002,2002,98.23879
3,Cyprus,AIR_1,+,National Estimation,Gross intake ratio to Grade 1 of primary educa...,CYP,2003,2003,99.06412
4,Cyprus,AIR_1,+,National Estimation,Gross intake ratio to Grade 1 of primary educa...,CYP,2004,2004,100.39945

In [ ]:
year_country

In [122]:
uis_df.loc[features[0]]

Series([], Name: Gross intake ratio to Grade 1 of primary education, both sexes (%), dtype: float64)

In [ ]:
uis_df = pd.DataFrame(index=features)

for year in years:
    for country in countries:
        year_country_dict = {feature: 0 for feature in features}
        for feature in features:
            country_filter = (uis['Country'] == country)
            year_filter = (uis['TIME'] == year)
            feature_filter = (uis['Indicator'] == feature)
            try:
                year_country_dict[feature] += uis[country_filter & year_filter
                                                  & feature_filter]['Value'][0]
            except:
                year_country_dict[feature] = np.nan
                
        uis[f"{year}_{country}"] = pd.Series(year_country_dict)

In [ ]:
uis_df.T.head()

In [115]:
        country_filter = (uis['Country'] == country)
        year_filter = (uis['TIME'] == year)
        feature_filter = (uis['Indicator'] == feature)
        try:
            uis_df[f"{year}_uis[country_filter & year_filter & feature_filter]['Value'].values[0])

100.1273
104.71661
66.27698000000001
82.93825
43.68363
95.96758
15.598939999999999

IndexError: index 0 is out of bounds for axis 0 with size 0

In [51]:
uis[uis['Time'] == 2000]

,Country,EDULIT_IND,Flag Codes,Flags,Indicator,LOCATION,TIME,Time,Value
0,Cyprus,AIR_1,+,National Estimation,Gross intake ratio to Grade 1 of primary educa...,CYP,2000,2000,100.69412
22,Kiribati,AIR_1,NaN,NaN,Gross intake ratio to Grade 1 of primary educa...,KIR,2000,2000,114.24802
59,Argentina,AIR_1,NaN,NaN,Gross intake ratio to Grade 1 of primary educa...,ARG,2000,2000,108.28743
84,Lesotho,AIR_1,NaN,NaN,Gross intake ratio to Grade 1 of primary educa...,LSO,2000,2000,190.05363
102,Rwanda,AIR_1,NaN,NaN,Gross intake ratio to Grade 1 of primary educa...,RWA,2000,2000,159.38145
119,Ecuador,AIR_1,NaN,NaN,Gross intake ratio to Grade 1 of primary educa...,ECU,2000,2000,131.79251
135,France,AIR_1,+,National Estimation,Gross intake ratio to Grade 1 of primary educa...,FRA,2000,2000,96.48031
136,Tajikistan,AIR_1,NaN,NaN,Gross intake ratio to Grade 1 of primary educa...,TJK,2000,2000,95.22771
154,Zambia,AIR_1,NaN,NaN,Gross intake ratio to Grade 1 of primary educa...,ZMB,2000,2000,87.34810
171,Azerbaijan,AIR_1,+,National Estimation,Gross intake ratio to Grade 1 of primary educa...,AZE,2000,2000,94.85181
189,Malta,AIR_1,NaN,NaN,Gross intake ratio to Grade 1 of primary educa...,MLT,2000,2000,99.94203
206,Samoa,AIR_1,NaN,NaN,Gross intake ratio to Grade 1 of primary educa...,WSM,2000,2000,102.91642
222,Poland,AIR_1,NaN,NaN,Gross intake ratio to Grade 1 of primary educa...,POL,2000,2000,96.09934
244,Tonga,AIR_1,NaN,NaN,Gross intake ratio to Grade 1 of primary educa...,TON,2000,2000,103.64830
252,Cambodia,AIR_1,NaN,NaN,Gross intake ratio to Grade 1 of primary educa...,KHM,2000,2000,130.86395
287,Lao People's Democratic Republic,AIR_1,NaN,NaN,Gross intake ratio to Grade 1 of primary educa...,LAO,2000,2000,114.23796
313,Republic of Moldova,AIR_1,+,National Estimation,Gross intake ratio to Grade 1 of primary educa...,MDA,2000,2000,104.49062
331,Jordan,AIR_1,NaN,NaN,Gross intake ratio to Grade 1 of primary educa...,JOR,2000,2000,99.30766
348,Vanuatu,AIR_1,NaN,NaN,Gross intake ratio to Grade 1 of primary educa...,VUT,2000,2000,119.11793
368,Hungary,AIR_1,NaN,NaN,Gross intake ratio to Grade 1 of primary educa...,HUN,2000,2000,100.49593
386,Czechia,AIR_1,NaN,NaN,Gross intake ratio to Grade 1 of primary educa...,CZE,2000,2000,102.09704
403,Djibouti,AIR_1,NaN,NaN,Gross intake ratio to Grade 1 of primary educa...,DJI,2000,2000,31.10426
430,Nigeria,AIR_1,NaN,NaN,Gross intake ratio to Grade 1 of primary educa...,NGA,2000,2000,117.19520
440,Saint Lucia,AIR_1,NaN,NaN,Gross intake ratio to Grade 1 of primary educa...,LCA,2000,2000,105.91819
474,Colombia,AIR_1,NaN,NaN,Gross intake ratio to Grade 1 of primary educa...,COL,2000,2000,149.20533
503,Spain,AIR_1,NaN,NaN,Gross intake ratio to Grade 1 of primary educa...,ESP,2000,2000,101.63470
520,Eswatini,AIR_1,NaN,NaN,Gross intake ratio to Grade 1 of primary educa...,SWZ,2000,2000,96.14948
536,Bulgaria,AIR_1,NaN,NaN,Gross intake ratio to Grade 1 of primary educa...,BGR,2000,2000,101.46197
553,Guinea,AIR_1,NaN,NaN,Gross intake ratio to Grade 1 of primary educa...,GIN,2000,2000,57.37282
569,Uganda,AIR_1,NaN,NaN,Gross intake ratio to Grade 1 of primary educa...,UGA,2000,2000,176.43141
...,...,...,...,...,...,...,...,...,...
50691,Mongolia,FOSGP_5T8_FNON500600700,NaN,NaN,Percentage of graduates from programmes other ...,MNG,2000,2000,72.53460
50705,Montserrat,FOSGP_5T8_FNON500600700,a,Category not applicable,Percentage of graduates from programmes other ...,MSR,2000,2000,NaN
50735,Nauru,FOSGP_5T8_FNON500600700,a,Category not applicable,Percentage of graduates from programmes other ...,NRU,2000,2000,NaN
50742,Niue,FOSGP_5T8_FNON500600700,a,Category not applicable,Percentage of graduates from programmes other ...,NIU,2000,2000,NaN
50750,Palestine,FOSGP_5T8_FNON500600700,NaN,NaN,Percentage of graduates from programmes other ...,PSE,2000,2000,79.47835
50783,Qatar,FOSGP_5T8_FNON500600700,NaN,NaN,Percentage of graduates from programmes other ...,QAT,2000,2000,78.97436
50794,Romania,FOSGP_5T8_FNON500600700,NaN,NaN,Percentage of graduates from programmes other ...,ROU,2000,2000,70.48278
50808,Saint Vincent and the Grenadines,FOSGP_5T8_FNON500600700,a,Category not applicable,Percentage of graduates from programmes other ...,VCT,2000,2000,NaN
50813,Sao Tome and Principe,FOSGP_5T8_FNON500600700,a,Category not applicable,Percentage of graduates from programmes other ...,STP,2000,2000,NaN
50834,Seychelles,FOSGP_5T8_FNON500600700,a,Category not applicable,Percentage of graduates from programmes other ...,SYC,2000,2000,NaN
50868,Eswatini,FOSGP_5T8_FNON500600700,NaN,NaN,Percentage of graduates from programmes other ...,SWZ,2000,2000,90.89089
50875,Tokelau,FOSGP_5T8_FNON500600700,a,Category not applicable,Percentage of graduates from programmes other ...,TKL,2000,2000,NaN
50886,Tuvalu,FOSGP_5T8_FNON500600700,a,Category not applicable,Percentage of graduates from programmes other ...,TUV,2000,2000,NaN
50944,Sierra Leone,FOSGP_5T8_F500600700,NaN,NaN,"Percentage of graduates from Science, Technolo...",SLE,2000,2000,3.12700
50946,Norway,FOSGP_5T8_FNON500600700,NaN,NaN,Percentage of graduates from programmes other ...,NOR,2000,2000,78.93102
50960,Turkey,FOSGP_5T8_FNON500600700,NaN,NaN,Percentage of graduates from programmes other ...,TUR,2000,2000,69.34449
50985,Cambodia,FOSGP_5T8_FNON500600700,NaN,NaN,Percentage of graduates from programmes other ...,KHM,2000,2000,89.55980
50998,Chad,FOSGP_5T8_FNON500600700,NaN,NaN,Percentage of graduates from programmes other ...,TCD,2000,2000,86.29371
50999,Comoros,FOSGP_5T8_FNON500600700,NaN,NaN,Percentage of graduates from programmes other ...,COM,2000,2000,100.00000
51019,Liberia,FOSGP_5T8_FNON500600700,NaN,NaN,Percentage of graduates from programmes other ...,LBR,2000,2000,67.68553
51055,Samoa,FOSGP_5T8_FNON500600700,NaN,NaN,Percentage of graduates from programmes other ...,WSM,2000,2000,68.47291
51059,Uganda,FOSGP_5T8_FNON500600700,NaN,NaN,Percentage of graduates from programmes other ...,UGA,2000,2000,85.58540
51071,Venezuela (Bolivarian Republic of),FOSGP_5T8_FNON500600700,NaN,NaN,Percentage of graduates from programmes other ...,VEN,2000,2000,73.55201
51093,Venezuela (Bolivarian Republic of),FOSGP_5T8_F500600700,NaN,NaN,"Percentage of graduates from Science, Technolo...",VEN,2000,2000,26.44799
51102,Sierra Leone,FOSGP_5T8_FNON500600700,NaN,NaN,Percentage of graduates from programmes other ...,SLE,2000,2000,96.87300
51123,Austria,ROFST_2T3_CP,NaN,NaN,Rate of out-of-school adolescents and youth of...,AUT,2000,2000,3.86646
51140,Austria,ROFST_3_CP,NaN,NaN,Rate of out-of-school youth of upper secondary...,AUT,2000,2000,7.33083
51269,Netherlands Antilles,FOSGP_5T8_FUK,n,Magnitude nil or negligible,Percentage of graduates from tertiary educatio...,ANT,2000,2000,NaN
51275,Netherlands Antilles,FOSGP_5T8_F500600700,NaN,NaN,"Percentage of graduates from Science, Technolo...",ANT,2000,2000,20.03515
51276,Netherlands Antilles,FOSGP_5T8_FNON500600700,NaN,NaN,Percentage of graduates from programmes other ...,ANT,2000,2000,79.96485

In [ ]:
def create_df(data, name=None, countries=countries):
    years = list(data['TIME'].unique())

    index_mean = [f"{year}_mean_{name}" for year in years]
#     index_std = [f"{year}_std_{name}" for year in years]

#     output_df = pd.DataFrame(index=index_mean + index_std, columns=countries)
    output_df = pd.DataFrame(index=index_mean, columns=countries)
    
    for year in years:
        for country in countries:
            mean = str(data[(data['Year'] == year) & (data['Jurisdiction'] == country)]['Average'].values[0])
#             std = str(data[(data['Year'] == year)
#                            & (data['Jurisdiction'] == country)]['Standard Error'].values[0]).strip('()')
            try:
                output_df[country][f"{year}_mean_{name}"] = float(mean)
            except:
                output_df[country][f"{year}_mean_{name}"] = np.nan
#             try:
#                 output_df[country][f"{year}_std_{name}"] = float(std)
#             except:
#                 output_df[country][f"{year}_std_{name}"] = np.nan
    return output_df